* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.col {
    flex: 1;
    padding: 0 10px;
}
.col-1 {
    flex-basis: 8.33%;
}
.col-2 {
    flex-basis: 16.67%;
}
.col-3 {
    flex-basis: 25%;
}
.col-4 {
    flex-basis: 33.33%;
}
.col-5 {
    flex-basis: 41.67%;
}
.col-6 {
    flex-basis: 50%;
}
.col-7 {
    flex-basis: 58.33%;
}
.col-8 {
    flex-basis: 66.67%;
}
.col-9 {
    flex-basis: 75%;
}
.col-10 {
    flex-basis: 83.33%;
}
.col-11 {
    flex-basis: 91.67%;
}
.col-12 {
    flex-basis: 100%;
}
@media screen and (max-width: 768px) {
    .col {
        flex: 0 0 100%;
    }
}

.container {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: orange;
    border-radius: 8px;
    margin: 20px auto;
    border: black solid 2px;
}

.main-title {
    text-align: center;
    margin: 20px 15px;
}

.game-info-container,
.option-container {
    background-color: rgb(236, 184, 88);
    margin: 15px 30px;
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    border-radius: 8px;
}

.score,
.moves-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.option {
    display: flex;
    justify-content: center;
    align-items: center;
}

.option image {
    width: 100%;
    height: auto;
}

.option img:hover {
    scale: 110%;
    transition: 0.155s;
    cursor: pointer;
}
